
<div class="d-flex center-form-wrapper  flex-column rounded">
  <div class="container ">
      {{#link-to "index"}}<span class="text-muted   text-left">Back To Search</span>{{/link-to}}
  </div>
</div>

<div class="container custom-locale-form align-items-right">
  <h4 class="font-weight-bold text-muted">
    {{model.jurisdiction}}-{{model.name}}
  </h4>
  <br />
  <form >
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Due Date:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info text-info">{{model.dd}}</span>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Entity Type:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.entityType}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Form Name Description:</label>
      <div class="col-sm-4">
          <span class="font-italic text-info">{{model.desc}}</span>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Form Name:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.name}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Form Link:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.link}}</span>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Instructions Link:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.instructionsLink}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Allowed:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.efileRrequiredDesc}}</span>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Required:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.efileAllowedDesc}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Jurisdiction:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.jurisdiction}}</span>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Due Date Fiscal:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.fiscalDdDesc}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">Extension Due Date:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.extDd}}</span>
      </div>
      <label for="" class="col-sm-2 form-control-label font-weight-bold ">E-File Authorization Name:</label>
      <div class="col-sm-4">
        <span class="font-italic text-info">{{model.fiscalExtDdDesc}}</span>
      </div>
    </div>
  </form>
</div>
<footer class="app-footer">
  <div class="container custom-locale-form align-items-right">
    <p class="text-muted">
      The information contained in this site is general in nature and should not be considered to be legal, tax, accounting, consulting or any other professional advice.
      In all cases you should consult with professional advisors familiar with your particular factual situation for advice concerning specific matters before making any decisions.
      Certain links on this site lead to sites maintained by individuals or organizations over which KRCo. has no control.
    </p >
  </div>
</footer>
