<div class="d-flex center-list-wrapper align-items-center flex-column justify-content-center  shadow-sm  mb-5 bg-white rounded">
  <div class="container center-list-display">
    <div class="row">
      <div class="col-sm-12">
        <img class="list-logo-icon" alt="krinitial"  src="{{applicationState.rootURL}}firm_initials.png">
        <span class="text-muted list-text-icon  text-left">TAX DUE DATE SEARCH</span>
      </div>
    </div>
    <div class="row">
      <form {{action 'setSearchParams' keywordSearches on='submit'}}>
        <div class="input-group col-sm-12">
          {{input type="text" value=keywordSearches  class="form-control search list-search-input mb-3  border-light shadow-sm  mb-5 bg-white rounded" placeholder="Search by Form Name, State or Entity Type"}}
          <span class="input-group-btn">
              <button disabled={{isDisabled}} class="btn btn-light shadow-sm mb-3 bg-white rounded list-search-button" type="submit">Search!</button>
          </span>
              <span class="list-clear" data-toggle="tooltip" title="Clear Search" {{action "clearSearchParams"}}><i class="fa fa-eraser" aria-hidden="true"></i></span>
        </div>
      </form>
     </div>
  </div>
</div>

<div class="container list-listitems-pagination-container">
  {{#if model.length}}
    <div class="text-muted list-count-text  text-left">{{model.length}} results</div>
    <div class="container">
      <table class="table table-hover">
        <thead >
          <tr class="list-listitem-td">
            <th scope="col" class="list-listitem-td">Name</th>
            <th scope="col" class="list-listitem-td">Entity Type</th>
            <th scope="col" class="list-listitem-td">Jurisdiction</th>
            <th scope="col" class="list-listitem-td">Due Date</th>
          </tr>
        </thead>
      {{#each model as |taxSearch|}}
          <tbody>
          <tr class="list-listitem-td" {{action "goToLink" taxSearch.id}}>
            <td class="list-listitem-td" >{{taxSearch.name}}</td>
            <td class="list-listitem-td" >{{taxSearch.entityType}}</td>
            <td class="list-listitem-td">{{taxSearch.jurisdiction}}</td>
            <td class="list-listitem-td-dd" >{{taxSearch.ddDate}}</td>
          </tr>
        </tbody>
      {{/each}}
      </table>
    </div>
    <div class="container pagination-container">
      <div class="row">
        <span class="col-sm-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </span>
      </div>
    </div>
    {{else}}
  <div class="text-primary list-count-text  text-left">No Results Found</div>
  {{/if}}
</div>

<footer class="app-footer" >
  <div class="container custom-locale-form align-items-right">
    <p class="text-muted">
      The information contained in this site is general in nature and should not be considered to be legal, tax, accounting, consulting or any other professional advice.
      In all cases you should consult with professional advisors familiar with your particular factual situation for advice concerning specific matters before making any decisions.
      Certain links on this site lead to sites maintained by individuals or organizations over which KRCo. has no control.
    </p >
  </div>
</footer>
